RAPID_API_API_KEY =
MAIL_CHIMP_API_KEY = 
MAIL_CHIMP_BENEFIT_TYPE = #tuition_assistance, student_loan_repayment, tuition_reimbursement, full_tuition_coverage

NODE_ENV =  #test, development, production

# Development : This is for a server instance running in my local computer connected to local database
DEV_DB_NAME =
DEV_DB_HOST =
DEV_DB_USERNAME =
DEV_DB_PASSWORD =
DEV_DB_PORT = 
POSTGRES_PWD = 

# Test : This should be for a server instance running in my local computer while connecting to production database
TEST_DB_NAME =
TEST_DB_HOST =
TEST_DB_USERNAME =
TEST_DB_PASSWORD =
TEST_DB_PORT = 

# PROD : DATABASE_URL will take precedence over below variables
PROD_DB_NAME = 
PROD_DB_HOST = 
PROD_DB_USERNAME = 
PROD_DB_PASSWORD = 
PROD_DB_PORT = 

#Google Drive
CLIENT_ID = 
CLIENT_SECRET =
REDIRECT_URI = 
TARGET_FOLDER = 

#Redis
HEROKU_REDIS_CYAN_URL = 
REDIS_URL_DEV = 127.0.0.1
#production in HEROKU
DATABASE_URL = 