@font-face {
  font-family: Roboto;
  src: url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
}

img{
  max-width: 100%;
  max-height: 100%;
}

.site-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Roboto;
}

.page-container{
  display: flex;
  justify-content: center;
  width: 85.375em
}


/* title bar styling begins */
.title-bar{
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo-image-container{
  width: 373px;
  height: 105px;
}

.title-bar button{
  width: 158px;
  height: 44px;
  margin: 2.5rem;
  background-color: #96DFE3;
  font-weight: 700;
  font-size: larger;
  border-radius: 10px;
  border: none;
  box-shadow: 2px 5px 16px 0px #0B325E;
}

.title-bar button:hover{
  background-color: #6dd9df;
  cursor: pointer;
}

/* title bar styling ends */

/* nav styling begins*/

.nav-container{
  width: 100%;
}

.nav-list{
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  text-decoration: none;
  list-style-type: none;
  padding: 0;
}

.nav-option{
  margin: 0 20px 0 20px;
}

/* nav styling ends */